//Colours
.colour-classic-blue {
  color: $colour-classic-blue;
}

.colour-dark-blue {
  color: $colour-dark-blue;
}

.colour-maroon {
  color: $colour-maroon;
}

.colour-navy {
  color: $colour-navy;
}

.colour-orange {
  color: $colour-orange;
}

//Fonts
.weight-bold {
  font-weight: $weight-bold;
}

.weight-semi {
  font-weight: $weight-semi;
}

.weight-normal {
  font-weight: $weight-normal;
}

.weight-light {
  font-weight: $weight-light;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  font-weight: $weight-bold;
}

h1 {
  line-height: 56px;
}

h2 {
  line-height: 38px;
}

h3 {
  line-height: 30px;
}

h4 {
  line-height: 26px;
}

.font-label {
  font-family: $headings-font-family;
  font-weight: $weight-bold;
  text-transform: uppercase;
}

.font-label-small {
  @extend .font-label;
  font-size: $small-font-size;
}

.font-heading {
  font-family: $body-font-family;
  font-weight: $weight-normal;
}

.font-section-heading {
  @extend .font-heading;
  font-size: $h2-font-size;
}

.font-body-title {
  @extend .font-heading;
  font-size: $large-font-size;
}

.font-body-small {
  @extend .font-heading;
  font-size: $small-font-size;
}

.btn {
  @extend .font-label;
  font-size: $font-size-base;
  border-radius: $btn-border-radius;
}

.btn-primary {
  background-color: $colour-orange;
  color: $colour-black;
  border-color: $colour-orange;
}

.btn-secondary {
  background-color: $colour-classic-blue;
  color: $white;
  border-color: $colour-classic-blue;
}

.btn-abstract {
  background-color: $white;
  color: $colour-maroon;
  border-color: $white;
  width: 100%;
}