header {
  padding: 1rem 0;

  .site-logo {
    img {
      width: 100%;
      height: auto;
    }
  }

  .site-logo-safe {
    img {
      height: 65px;
      width: auto;
    }
  }

  form {
    height: 65px;
  }


  nav {
    .navbar-nav {
      .nav-item {
        a {
          font-size: 20px;
        }

        &.highlight {
          background-color: $colour-classic-blue;
          padding: 5px 2rem;
        }
      }
    }
  }
}

.site-links {
  h3 {
    font-family: $body-font-family;
  }
}
.site-link {
  .site-link-item {
    width: 30%;
  }
}

.banner-hero {
  background-image: url('../../src/images/atom-hero-ripples@3x.jpg');
  background-size: contain;
  background-position: right;
  height: 500px;
}

.link-cards {
  .link-card {
    width: 48%;
    margin: 5rem 1rem;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }

    .link-card-above {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      top: 0;
      flex-direction: column;
      align-items: center;
    }

    .link-card-text {
      font-size: $h2-font-size;
      font-family: $body-font-family;
      font-weight: $weight-bold;
      margin-bottom: 2rem;
    }

    .link-card-btn {
      padding: 1rem 5rem;
    }
  }
}