header {
  padding: 1rem 0;

  .site-logo {
    img {
      width: 100%;
      height: auto;
    }
  }

  .site-logo-safe {
    img {
      height: 65px;
      width: auto;
    }
  }

  form {
    height: 65px;
    position: relative;

    input {
      &::-webkit-input-placeholder,
      &::-moz-placeholder {
        font-family: $body-font-family;
      }

    }

    button {
      border: none;
      background-color: transparent;
      position: absolute;
      right: 1rem;
      padding: 1.2rem 1rem;
      z-index: 10;

      i, svg {
        font-size: 24px;
        color: $colour-dark-blue;
      }
    }
  }


  nav {
    .navbar-nav {
      .nav-item {
        a {
          font-size: 20px;
          
          &.nav-link-home {
            font-size: 28px;
          }
        }

        &.highlight {
          background-color: $colour-classic-blue;
          padding: 5px 2rem;
          border-radius: $btn-border-radius;

          a {
            &:after {
              color: $colour-orange !important;
            }
          }
        }

        &:not(:first-child) {
          a {
            &:after {
              font-family: 'Font Awesome 5 Pro';
              content: '\f107';
              position: absolute;
              color: $colour-bright-blue;
              padding-left: 5px;
            }
          }
        }
      }
    }
  }
}

.site-links {
  margin-top: 4.5rem;

  h3 {
    font-family: $body-font-family;
  }
}
.site-link {
  .site-link-item {
    width: 30%;
  }
}

.banner-hero {
  position: relative;
  height: 45vw;
  max-height: 450px;

  .banner-image {
    position: relative;
    overflow: hidden;

    img {
      width: 65%;
      max-height: 450px;
      object-fit: cover;
      float: right;
    }

    &:before {
      background-image: url("../../src/images/fill-1.svg");
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      content: '';
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
    }
  }

  .banner-text {
    position: absolute;
    width: 100%;
    height: 100%;
    color: $white;
    top: 0;

    .hero-link {
      font-family: $body-font-family;
      font-weight: $weight-bold;
      font-size: 20px;
      color: $white;

      i, svg {
        font-size: 28px;
        color: $colour-dark-orange;
        margin-right: 1rem;
      }
    }
  }
}

.link-cards {
  .link-card {
    width: 48%;
    margin: 5rem 1rem;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }

    .link-card-above {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      top: 0;
      flex-direction: column;
      align-items: center;
    }

    .link-card-text {
      font-size: $h2-font-size;
      font-family: $body-font-family;
      font-weight: $weight-bold;
      margin-bottom: 2rem;
    }

    .link-card-btn {
      padding: 1rem 5rem;
    }
  }
}